<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    
    <h1>About us</h1>
    <p>We are a small company that sells dvds. 
    Yes our business model is great and we are looking forward to the future"</p>
    
    <span th:text="${#locale.country}">US</span>

</body>
</html>