<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails facture</title>
</head>
<body>
    
    <h1>Détails de la facture : <span th:text="${invoice.number}" ></span></h1>
    
    <p> Numéro : <span th:text="${invoice.number}" ></span></p>
    <p> Client : <span th:text="${invoice.customerName}" ></span> </p>
    <p> Numéro de commande : <span th:text="${invoice.orderNumber}" ></span></p>
    
</body>
</html>